### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
}

.main-container {
    width: 900px;
    display: flex;
    flex-direction: row;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.sub-container {
    width: 300px;
    height: 500px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.icon {
    margin: 40px;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    color: hsl(0, 0%, 95%);
    margin: 40px;
    text-transform: uppercase;
}

p {
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    margin: 40px;
}

.btn {
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 100px;
    background-color: hsl(0, 0%, 95%);
    margin: 40px;
    font-family: "Lexend Deca", sans-serif;
}

.btn-sedan {
    color: hsl(31, 77%, 52%);
}

.btn-suvs {
    color: hsl(184, 100%, 22%);
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
}